* {
    border: none;
    border-radius: 0;
    font-family: FontAwesome,Roboto;
    font-weight: 500;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 1.0);
    border-bottom: 3px solid rgba(100, 114, 125, 1.0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.visible {
    border-bottom: 3px solid #409ad5;
    background-color: #64727D;
}

#workspaces button.focused {
    background-color: #64727D;
    border-bottom: 3px solid #eb4d4b;
}


#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#disk,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#bluetooth,
#custom-weather,
#custom-kblayout,
#tray,
#custom-vpn,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 1px;
    color: #ffffff;
    background-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

#clock {
    color: #ffffff;
    border-bottom: 3px solid #c9006b;
}

#battery {
    color: #ffffff;
    border-bottom-color: #30cf72;
}

#battery.charging {
    color: #30cf72;
    border-bottom-color: #30cf72;
}

@keyframes blink {
    to {
        color: #ffffff;
        border-bottom-color: #e6e6e6;
    }
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    border-bottom-color: #f76c6c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning:not(.charging) {
    color: #f4d03f;
    border-bottom-color: #f4d03f;
    animation-name: blink;
    animation-duration: 2.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.kb.normal {
    padding: 0 0px;
    margin: 0 0px;
    color: #000000;
    background-color: rgba(0,0,0,0);
    border-bottom-color: rgba(0,0,0,0);
}

#battery.kb.critical {
    color: #f53c3c;
    border-bottom-color: #f76c6c;
    animation-name: blink;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#disk {
    color: #ecf0f1;
    border-bottom-color: #6fb893;
}

#disk.home {
    color: #ecf0f1;
    border-bottom-color: #9e9ef5;
}
#cpu {
    color: #fff7ec;
    border-bottom: 3px solid #ffffff;
}

#cpu.a {
    color: #fee8c8;
    border-bottom-color: #fee8c8;
}

#cpu.b {
    color: #fdbb84;
    border-bottom-color: #fdbb84;
}

#cpu.c {
    color: #ef6548;
    border-bottom-color: #ef6548;
}

#cpu.d {
    color: #fff7ec;
    background-color: #990000;
    border-bottom-color: #fff7ec;
}

#memory {
    color: #ecf0f1;
    border-bottom-color: #b07cc6;
}

#memory.high {
    color: #f53c3c;
    border-bottom-color: #f76c6c;
}

#backlight {
    color: #aec6c6;
    border-bottom-color: #aec6c6;
}

#network {
    color: #54d98c;
    border-bottom: 3px solid #54d98c;
    margin-left: 0;
}

#custom-vpn {
    margin-right: 0;
    padding-right: 0;
    border-bottom: 3px solid #54d98c;
}

#custom-vpn.disconnected {
    color: #aec6c6;
}

#custom-vpn.connected {
    color: #54d98c;
}

#network.disconnected {
    color: #f76c6c;
    border-bottom-color: #f76c6c;
}

#pulseaudio {
    color: #ecf0f1;
    border-bottom-color: #f4d03f;
}

#pulseaudio.mic {
    color: #ecf0f1;
    /* border-bottom-color: #f4d03f; */
}

#pulseaudio.muted {
    border-bottom: 3px solid #aec6c6;
    color: #2a5c45;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    color: #2980b9;
    border-bottom: 3px solid #409ad5;
}

#bluetooth {
    color: #409ad5;
    border-bottom-color: #409ad5;
}

#custom-weather {
    color: #ecf0f1;
    border-bottom-color: #409ad5;
}

#custom-weather.night {
    color: #ecf0f1;
    border-bottom-color: #ccd0d1;
}

#idle_inhibitor {
    border-bottom-color: #ccd0d1;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    border-bottom-color: #2d3436;
    color: #2d3436;
}

#custom-kblayout {
    color: #ecf0f1;
    border-bottom-color: #c9006b;
}
