* {
  border: none;
  font-size: 14px;
  margin: 0px;
  /* font-family: Product Sans, Arial, Helvetica, sans-serif; */
  /* font-family: "FuraCode Nerd Font", Arial, Helvetica, sans-serif; */
  font-family: FontAwesome,Roboto,FuraCode Nerd Font;
}

window#waybar {
  background-color: #3b4252;
  color: #eceff4;
}

#workspaces {
  background-color: #434c5e;
  padding: 0px 5px 0px 5px;
  font-size: 15px;
  margin-right: 10px;
}

#workspaces button {
  font-size: 14px;
  margin: 0px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #eceff4;
  background-color: #434c5e;
}

#window {
  background-color: transparent;
  color: #d8dee9;
  padding-right: 10px;
  font-size: 14px;
  font-weight: 700;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  box-shadow: inherit;
  background-color: #ebcb8b;
  color: #5e81ac;
}

#workspaces button.visible {
  color: #eceff4;
  background-color: #5e81ac;
}

#workspaces button.focused {
  color: #eceff4;
  background-color: #81a1c1;
}

#workspaces button.urgent {
  color: #eb4d4b;
}

/* TASKBAR */

#taskbar {
  /* background-color: transparent; */
  font-size: 15px;
  /* border-radius: 15px; */
  margin-right: 7px;
}

#taskbar button {
  border-radius: 0px;
  margin: 0px;
  padding: 0px 8px 0px 8px;
  background-color: transparent;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

#taskbar button.active {
  color: #81a1c1;
  border-top: 3px solid transparent;
  border-bottom: 3px solid #81a1c1;
}

#taskbar button.minimized {
  color: #7c818c;
  border-top: 3px solid transparent;
  border-bottom: 3px solid #7c818c;
}

#taskbar button:hover {
  box-shadow: inherit;
  color: #5e81ac;
  border-top: 3px solid transparent;
  border-bottom: 3px solid #5e81ac;
}

/* WIDGETS */
#custom-sep0,
#custom-sep1,
#custom-sep2,
#custom-sep3,
#custom-sep3b,
#custom-sep4,
#custom-sep5,
#custom-sep6,
#custom-sep7 {
  font-size: 22px;
  margin: 0px;
  padding: 0px;
}

#custom-sep0 {
  color: #b48ead;
  background: #88c0d0;
}

#custom-sep1 {
  color: #88c0d0;
  background: #5e81ac;
}

#custom-sep2 {
  color: #5e81ac;
  background: #81a1c1;
}

#custom-sep3 {
  color: #81a1c1;
  background: #434c5e;
}

#custom-sep3b {
  background: #3b4252;
  color: #434c5e;
}

#custom-sep4 {
  color: #434c5e;
  background: #5e81ac;
}

#custom-sep5 {
  color: #5e81ac;
  background: #81a1c1;
}

#custom-sep6 {
  color: #81a1c1;
  background: #4c566a;
}

#custom-sep7 {
  color: #4c566a;
  background: #3b4252;
}

#battery,
#network,
#custom-weather,
#temperature,
#battery.kb,
#disk,
#pulseaudio,
#memory,
#cpu,
#tray,
#custom-vpn,
#custom-kblayout,
#bluetooth,
#clock,
#idle_inhibitor {
  margin-left: 0;
  margin-right: 0;
  padding: 0px 5px 0px 5px;
}

#idle_inhibitor {
  background: #b48ead;
}

#clock {
  background-color: #88c0d0;
  color: #2e3440;
}

#battery,
#tray,
#custom-kblayout {
  background-color: #5e81ac;
  color: #2e3440;
}

#custom-vpn,
#network,
#bluetooth {
  background-color: #81a1c1;
  color: #3b4252;
}

#memory,
#cpu {
  background-color: #434c5e;
  min-width: 50px;
}

#pulseaudio {
  background-color: #5e81ac;
  color: #2e3440;
}

#disk {
  background-color: #81a1c1;
  color: #3b4252;
}

#custom-weather,
#temperature,
#battery.kb {
  background-color: #4c566a;
}

#network {
  margin-left: 0;
  padding-left: 2px;
}

#custom-vpn {
  margin-right: 0;
  padding-right: 0;
}

#custom-vpn.disconnected {
  color: #4c566a;
}

#custom-vpn.connected {
  color: #3b4252;
}

#network.disconnected {
  color: #f76c6c;
}

#memory {
  color: #d8dee9;
}

#memory.high {
  color: #bf616a;
}

#cpu {
  color: #d8dee9;
}

#cpu.a {
  color: #d8dee9;
}

#cpu.b {
  color: #ebcb8b;
}

#cpu.c {
  color: #d08770;
}

#cpu.d {
  color: #bf616a;
}

#custom-weather.night {
  color: #ecf0f1;
  padding: 0px 8px 0px 8px;
}

#custom-weather {
  color: #ebcb8b;
}

#pulseaudio {
  margin-right: 0;
  padding-right: 0;
}

#pulseaudio.muted {
  background-color: #4c566a;
}

#pulseaudio.mic.muted {
  color: #4c566a;
  margin-right: 0px;
  padding-right: 10px;
}

#pulseaudio.mic {
  margin-right: 0px;
  padding-right: 10px;
}

#temperature {
  color: #88c0d0;
}

#temperature.critical {
  color: #eb4d4b;
}

#battery {
  padding: 0px 8px 0px 8px;
}

@keyframes blink {
  to {
    background-color: #3b4252;
    color: #eceff4;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  /* border-radius: 4px; */
  color: #eceff4;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning:not(.charging) {
  color: #eceff4;
  background-color: #ebcb8b;
  /* border-radius: 4px; */
  animation-name: blink;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#custom-power {
  font-size: 17px;
  padding: 0px 10px 0px 10px;
  /* border-radius: 10px; */
}

#idle_inhibitor {
  font-size: 16px;
  color: #e5e9f0;
}

#idle_inhibitor.activated {
  color: #3b4252;
}

#custom-kblayout {
}

#battery.kb.normal {
  padding: 0 0px;
  margin: 0 0px;
}
